<div id="base">
<div id="tagBar" class="btn-group" >
  <button class="btn btn-success" id="tagBox" *ngFor="let tag of tagLog" (click)="filtering(tag)">
    {{ tag }}
    </button>
</div>
<h2>Games</h2>

<div class="gameList">
  <div class="gameBox" *ngFor="let game of games">
    <!--<p class="{{ game.appid }}"> AppID: {{ game.appid }}</p>-->
    <a href="http://store.steampowered.com/app/{{ game.appid }}"><img src="http://cdn.edgecast.steamstatic.com/steam/apps/{{ game.appid }}/header.jpg"> </a>
    <a href="http://store.steampowered.com/app/{{ game.appid }}"><h3 id="gameName"> {{ game.name }}</h3> </a>
    <br>
    <p id="timePlayed"> Playtime: {{ game.playtime_forever }} minutes</p>
    <p id="tagList"> Tags: {{ game.tags }}</p>
    <!--<p> IGDB name: {{ game.GDname }} </p>-->
    <p><a [href]="trusted(game)"><button class="btn btn-info" id="playbtn">PLAY NOW</button></a></p>
    <!--<iframe srcdoc ="<a href='{{ game.launchUrl }}'>PLAY NOW</a>"></iframe>-->
  </div>
</div>
</div>
