@import '../node_modules/bootstrap/scss/bootstrap';
$input-color: #1E2D40;

#submitButton {
  height : 90px;
  width : 90px;
}

input {
  height : 90px;
}

#mainInputPanel {
  position: fixed;
  left: 35%;
  top: 25%;
  #submitButton {
    color: #1E2D40;
    font-size: 400%;
    position: relative;
    top: 20px;
  }
  input {
    background-color: #D3D8D0;
    color: $input-color;

  }
}
::-webkit-input-placeholder{
  color:$input-color;
}
:-moz-placeholder{
  color:$input-color;
}

::-moz-placeholder{
  color:$input-color;
}

:-ms-input-placeholder {
  color:$input-color;
}

.gameBox {
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 5xp;
  color: #D3D8D0;
  background-color: #366F95;
  width: 500px;
  margin: 10px;
  order:1;
  h3 {
    text-decoration: underline;
  }
  button:hover {
    background-color: #358FC2;
    color: white;
    border-color: white;
  }
  button {
    background-color: #BCDFF4;
    color: black;
    border-color: black;
    border-width: 2px;
  }
}

.gameList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#tagBar {
  display:flex;
  flex-wrap: wrap;
  order:2;
  color: #D3D8D0;
  button:hover {
    background-color: #1E2D40;
  }
  button:focus {
    background-color: #1E2D40;
  }
  button {
    background-color: #366F95;
    color: #D3D8D0;
    border-color: #366F95;
  }

}

#tagBox {
  flex-grow: 1;
}



a {
  color: #D3D8D0;
  font-size: 16px;
}

a:hover {
  color: #1E2D40;
}

a:visited {
  color: #D3D8D0;
}

body {
  background-color: #1E2D40;
  font-family: Tahoma;
}

img {
  width: 100%;
}
