@import '../node_modules/bootstrap/scss/bootstrap';

#submitButton {
  height : 90px;
  width : 90px;
}

input {
  height : 90px;
}

#mainInputPanel {
  display: flex;
  align-items: center;
  justify-content: center;
}
